html {
  box-sizing: border-box;
  /* box-sizing restricts the stretching of the page and prevents un neccessary horizontal scroll */
}

body {
  margin: 0;
  min-height: 100vh;
  /* all content should come in the vertical screen size */
}
